---
layout: page
---
@using SitePlugin;
@{
    const int picsPerRow = 6;
    var imagesByYear = T53AllImageGallery.ImagesByYear;
    int[] years = imagesByYear.Keys.OrderBy( i => i ).ToArray();
}
@Raw( Model.Content )
<p>Total Images: @T53AllImageGallery.TotalImages</p>

@for( int yearIndex = 0; yearIndex < years.Length; ++yearIndex )
{
    int year = years[yearIndex];
    var imageByYear = imagesByYear[year];

    <h2>@year</h2>
    for( int i = 0; i < imageByYear.Count; )
    {
        <div class="row">
            @for( int j = 0; ( i < imageByYear.Count ) && ( j < picsPerRow ); ++j )
            {
                T53GalleryImage image = imageByYear[i];
                string id = image.Id;

                <div class="col-sm-2">
                    <div class="portfolio-item" style="max-width: @(T53AllImageGallery.MaximumWidth)px;">
                        <a class="gallery-preview" href="#galleryimage_@(id)">
                            <img class="thumbnailimage" src="@image.GalleryThumbNailPage.Url" alt="@image.PretzelImageContext.ImageInfo.SafeGetAlt()" />
                        </a>
                        <div class="lightbox" id="galleryimage_@(id)">
                            <div class="lightboxwrapper" class="lightboxwrapper">
                                <div class="panel panel-default">
                                    <div class="panel-heading closeButtonHeader">
                                        <a href="#" class="btn btn-danger">
                                            <i class="fa-solid fa-x"></i>
                                        </a>
                                    </div>
                                    <div class="panel-body photoDisplay">
                                        @if( image.Previous != null )
                                        {
                                            <a href="#galleryimage_@(image.Previous.Id)" class="prev">
                                                <div>&#10094;</div>
                                            </a>
                                        }
                                        <a href="@image.PretzelImageContext.OriginalPhotoUrl" target="_blank">
                                            <img class="thumbnailimage" src="@image.PretzelImageContext.ThumbnailUrl" alt="@image.PretzelImageContext.ImageInfo.SafeGetAlt()"/>
                                        </a>
                                        @if( image.Next != null )
                                        {
                                            <a href="#galleryimage_@(image.Next.Id)" class="next">
                                                <div>&#10095;</div>
                                            </a>
                                        }
                                    </div>
                                    <div class="panel-footer">
                                        <p class="captionText"><em>Posted in: <a href="@image.PostPage.Url" target="_blank">@image.PostPage.Title</a></em></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                ++i;
            }
        </div>
    }
}
