---
layout : layout
---

@{
    object tagName = Model.Page.Bag["tag"];
}

<article id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">Posts tagged as "@tagName"</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul>
                @foreach( var tag in @Model.Site.Tags )
                {
                    @if( tag.Name.Equals( tagName ) )
                    {
                        @foreach( var post in tag.Posts )
                        {
                            <li>
                                <a href="@post.Url">@post.Title</a>
                                @if( @post.Bag.ContainsKey( "description" ) )
                                {
                                    <ul>
                                        <li>
                                            @post.Bag["description"].ToString()
                                        </li>
                                    </ul>
                                }
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</article>

